/*Body Settings*/

body {
	font-family: 'Exo', sans-serif;
	background-color: #383838;
}

li a.fontAwesomeIconsHeader {
	font-size: 1.5vw;
	color: #F5F1ED;
}


.bottomMargin {
	margin-bottom: 40px;
}

.topMargin {
	margin-top: -40px;
}

.centerTextNavBar {
	text-align: center;
	font-weight: bold;
}

/*Text Colors Used*/

#twhite {
	color: #F5F1ED;
}

#tblack {
	color: #383838;
}

#tgray {
	color: #C2C1C2;
}

#tblue {
	color: #0070A0;
}

#tred {
	color: #AD2F2B;
}

#tyellow {
	color: #EFCA08;
}

#tgreen {
	color: #049E35;
}

#tdblue {
	color: #2C707F;
}

#bgblack {
	color: #383838;
}

hr {
	border-color: #0070A0;
}

.textRight {
	text-align: right;
}

.topToBottomText {
	padding-top: 3%;
	color: #F5F1ED;
}

.resumeBodyHeader {
	font-size: 3vw;
	text-align: center;
}

i.resumeIcon {
	color: #0070A0;
}
/*Navigation Bar*/

.navigationbar-link {
	font-size: 150%;
	text-align: center;
}

.navigationbar-contact {
	font-size: 150%;
	top: 7px;
	background-color: #383838;
}

.contactform {
	width: 500px;
	margin: 15px;
}

.navbarProperties {
	background-color: #0070A0;
	color: #F5F1ED;
}


/*About Me*/

.homeNameText {
	color: #F5F1ED;
	font-size: 4.5vw;
	padding-top: 70px;
	text-align: center;
}

.homeNameQuote {
	color: #F5F1ED;
	font-size: 3vw;
	text-align: center;
}

.homeNameTextTwo {
	color: #F5F1ED;
	font-size: 4.5vw;
	text-align: right;
	padding-top: 70px;
}

.homeNameDescription {
	color: #F5F1ED;
	font-size: 2vw;
	text-align: center;
}

.homepageButton {
	color: #F5F1ED;
	border: 1px solid #0070A0;
	margin: 1%;
	text-align: center;
	font-size: 1.5vw;
	padding: 4%;
	cursor: pointer;
}

.homepageButtonPadding {
	padding-top: 3%;
}

.resumeButton {
	color: #F5F1ED;
	border: 1px solid #0070A0;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.5vw;
	padding: 4%;
	cursor: pointer;
}

.resumeBody {
	border: 1px solid #0070A0;
	color: #F5F1ED;
	font-size: 1.7vw;
	padding: 5%;
}

.homepageButtonHover {
	color: #383838;
	background-color: #F5F1ED;
	border: 1px solid #0070A0;
	margin: 15px;
	text-align: center;
	font-size: 1.5vw;
	padding: 4%;
}

.homepageBody {
	border: 1px solid #0070A0;
	color: #F5F1ED;
	font-size: 2vw;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 4%;
}

.homepageBodyCenter {
	text-align: center;
}

.faqQuestion {
	font-size: 2vw; 
}

.languagesFAQ {
	text-align: center;
}

.homepageBodyHeader {
	font-size: 3.5vw;
	text-align: center;
	padding-bottom: 3%;
}

i.fontAwesomeIcons {
	font-size: 2vw;
	padding-right: 3%;
	padding-top: 3%;
}


.introText {
	font-size: 2.8vw;
	text-align: center;
	color: #F5F1ED;
	padding-top: 70px;
}

.descriptionBorder {
	border: 2px solid #0070A0;
}

/*Project Box*/

.projectBox {
	border: 2px solid #0070A0;
	text-align: center;
	font-size: 150%;
	padding-top: 1%;
	margin-bottom: 5%;
	margin-top: 2%;
	color: #F5F1ED;
}


/*Resume*/

.resumeHeader {
	color: #F5F1ED;
	font-size: 4.5vw;
	padding-top: 70px;
	padding-left: 0px;
	text-align: right;
}

.resumeHeaderContactInfo {
	color: #F5F1ED;
	font-size: 1.5vw;
	padding-top: 75px;
	padding-right: 0px;
}

.resumeButtonPadding {
	margin-top: 4%;
}



/*Portfolio*/

.portfolio {
	background-color: #383838;
	opacity: .95;
	color: #6DD6D2;
	font-size: 200%;
	text-align: center;
}




/*Margin Modifiers*/

.margin {
	margin-bottom: 35px;
	margin-top: 20px;
	margin-left: 35px;
	margin-right: 15px;
}


/*Invisible Text Extensions*/

.invisibletext1 {
	margin-top: 100px;
}




/*Link Modifiers*/

a:link.navigationbar-link {
	color: #F5F1ED;
	text-decoration: none;
}

a:hover.navigationbar-link {
	color: #F5F1ED;
	font-size: 160%;
	text-decoration: none;
}

a:active.navigationbar-link {
	color: #F5F1ED;
	text-decoration: none;
}

a:visited.navigationbar-link {
	color: #F5F1ED;
	text-decoration: none;
}

a:link.fontAwesomeIcons {
	color: #F5F1ED;
	text-decoration: none;
}

a:hover.fontAwesomeIcons {
	color: #0070A0;
	text-decoration: none;
}

a:active.fontAwesomeIcons {
	color: #F5F1ED;
	text-decoration: none;
}

a:visited.fontAwesomeIcons {
	color: #F5F1ED;
	text-decoration: none;	
}


@media (max-width: 992px){
	body > div:nth-child(3) > div.col-xs-offset-1.col-xs-1.textRight.topToBottomText{
		margin-left: 1px;
	}
}

@media (max-width: 992px){
	body > div:nth-child(4) > div.col-xs-offset-1.col-xs-1.textRight.topToBottomText{
		margin-left: 1px;
	}
}














