/*Body Settings*/

	body {
		font-family: 'Exo', sans-serif;
		background-color: #668FAF;
		padding-top: 70px;
		color: #F5F1ED;
	}

	li a.fontAwesomeIconsHeader {
		font-size: 1.5vw;
		color: #F5F1ED;
	}

	hr {
		border-color: #F5F1ED;
	}

/*Navigation Bar*/

	.siteLink {
		font-size: 150%;
		text-align: center;
		color: #F5F1ED;
	}

	.navbarProperties {
		background-color: #383836;
		color: #F5F1ED;
	}

	.centerTextNavBar {
		text-align: center;
		font-weight: bold;
	}

/*Homepage Info*/

	.homeNameText {
		color: #F5F1ED;
		font-size: 4.5vw;
		text-align: center;
	}

	.citySkyline {
		width: 100%;
	}

	.homeNameDescription {
		color: #F5F1ED;
		font-size: 2vw;
		text-align: center;
	}

	.homepageBody {
		border: 1px solid #F5F1ED;
		color: #F5F1ED;
		font-size: 2vw;
		margin-top: -15%;
		margin-bottom: 15px;
		padding: 4%;
		background-color: #383836;
	}

	.homepageButtonHover {
		color: #668FAF;
		background-color: #F5F1ED;
		border: 1px solid #383836;
		margin: 15px;
		text-align: center;
		font-size: 1.5vw;
		padding: 4%;
	}

	.homepageButton {
		color: #F5F1ED;
		border: 1px solid #F5F1ED;
		margin: 1%;
		text-align: center;
		font-size: 1.5vw;
		padding: 4%;
		cursor: pointer;
		background-color: #383836;
	}

	.homepageButtonPadding {
		padding-top: 3%;
		padding-bottom: 18%;
	}

	.homepageButtonHover {
		color: #668FAF;
		background-color: #F5F1ED;
		border: 1px solid #383836;
		margin: 15px;
		text-align: center;
		font-size: 1.5vw;
		padding: 4%;
	}

	.homepageBodyHeader {
		font-size: 3.5vw;
		text-align: center;
		padding-bottom: 3%;
	}

	i.fontAwesomeIcons {
		font-size: 2vw;
		padding-right: 3%;
		padding-top: 3%;
	}

/*Portfolio*/

	.introText {
		font-size: 2.8vw;
		text-align: center;
		color: #F5F1ED;
	}
	
	.projectBox {
		border: 1px solid #F5F1ED;
		text-align: center;
		font-size: 1.5vw;
		padding-top: 1%;
		margin-bottom: 5%;
		margin-top: 2%;
		color: #F5F1ED;
		background-color: #383836;
	}

	.pictureBorder {
		border: 2px solid #383836;
	}

	.topToBottomText {
		padding-top: 3%;
		color: #F5F1ED;
		font-size: 1vw;
	}

	@media (max-width: 992px){
		body > div:nth-child(3) > div.col-xs-offset-1.col-xs-1.textRight.topToBottomText{
			margin-left: 1px;
		}
	}

	@media (max-width: 992px){
		body > div:nth-child(4) > div.col-xs-offset-1.col-xs-1.textRight.topToBottomText{
			margin-left: 1px;
		}
	}
	

/*Resume*/

	i.resumeIcon {
		color: #383836;
	}

	.resumeHeader {
		color: #F5F1ED;
		font-size: 4.5vw;
		padding-left: 0px;
		text-align: right;
	}

	.resumeHeaderContactInfo {
		color: #F5F1ED;
		font-size: 1.5vw;
		padding-top: 5px;
		padding-right: 0px;
	}

	.resumeButtonPadding {
		margin-top: 4%;
	}

	.resumeBody {
		border: 1px solid #F5F1ED;
		color: #F5F1ED;
		font-size: 1.7vw;
		padding: 5%;
		background-color: #383836;
	}

	.resumeBodyHeader {
		font-size: 3vw;
		text-align: center;
	}

	.resumeButton {
		color: #F5F1ED;
		border: 1px solid #F5F1ED;
		margin-bottom: 30px;
		text-align: center;
		font-size: 1.5vw;
		padding: 4%;
		cursor: pointer;
		background-color: #383836;
	}

/*Invisible Text Extensions*/

	.invisibletext1 {
		margin-top: 100px;
	}

/*Link Modifiers*/

	a:link.siteLink {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:hover.siteLink {
		color: #F5F1ED;
		font-size: 160%;
		text-decoration: none;
	}

	a:active.siteLink {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:visited.siteLink {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:link.fontAwesomeIcons {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:hover.fontAwesomeIcons {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:active.fontAwesomeIcons {
		color: #F5F1ED;
		text-decoration: none;
	}

	a:visited.fontAwesomeIcons {
		color: #F5F1ED;
		text-decoration: none;	
	}

















